*~
\#*

*.txt
*.seg
*.u8
*.csv
*.tsv
*.jar
*.apkg
*.ods
*.xls
*.xlsx
*.odt
*.pdf
*.xml

*.gz
*.7z
*.sqlite3

*.dsl
*.dict
*.idx
*.ifo
*.ann
*.doc
*.xdxf

BKRS*/

*.elc

auto/

*.aux
*.log
*.synctex.gz

!TOCFL-vocabulary/*.csv
